.mainMenu
  background-image: url(/assets/backdrops/darknight.jpg)
  background-position: center center
  width: 100vw
  height: 100vh

.mainMenu-container
  position: absolute
  top: 50%
  left: 50%
  margin-left: -200px
  margin-top: -80px
  text-align: center
  font-family: "Tahoma"
  .title
    font-size: 50px
    color: white
    padding-bottom: 20px
  .btn
    border: none
    background-color: white
    color: black
    padding: 10px 20px
    cursor: pointer
    width: 200px